<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-VyJjAnsXTlUzHF8Mihh1XadrovtPZ1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>401137987821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.z3rosmith.POLZZAK</string>
	<key>PROJECT_ID</key>
	<string>polzzak-57648</string>
	<key>STORAGE_BUCKET</key>
	<string>polzzak-57648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401137987821:ios:35c23c316db8bac2085ce4</string>
</dict>
</plist>